<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Chuck Norris Jokes</title>
  </head>
  <body>
    <div class="chuck">


    <h1>Chuck Norris Jokes</h1>
    <img src="https://i.pinimg.com/originals/94/48/cc/9448cc498d07cd71dd8e8bcbddf5d502.png" style="width:333px;">
  <h3> <%= ChuckNorris.random %></h3>
</div>

  </body>
</html>
